.Card_Div {
  display: flex;
  margin: 50px;
  gap: 50px;
}

.Filter {
  width: 20vw;
  background-color: red;
}

.Popular {
  width: 80vw;
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}

.Popular img {
  width: 240px;
  height: 150px;
}

.Popular_Common {
  display: flex;
  padding: 10px;
  width: 50%;
  height: auto;
  gap: 15px;
}

@media (max-width: 1492px) {
  .Popular_Common {
    width: 100%;
  }
}